.add-to-cart {
    display: flex;

    .counter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 16px;
        width: 100%;
        max-width: 177px;
        height: 45px;
        color: $governor-bay;
        border: 1px solid $governor-bay;
        border-radius: 6px;

        &__value {
            width: 20px;
            font-size: 14px;
            font-weight: bold;
            color: $governor-bay;
            background-color: transparent;
            border: none;
            text-align: center;
            line-height: 24px;
        }

        span {
            padding: 0 10px;
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
        }
    }
}