.circle-text {
    position: absolute;
    top: 115px;
    right: 122px;
    width: 92px;
    z-index: 99;

    .rotating {
        width: 100%;
        
        h3 {
            position: relative;
            width: 92px;
            height: 92px;
            max-width: 92px;
            max-height: 92px;
            margin: 0;
            font-size: 8px;
            font-weight: 700;
            background: $serenade;
            color: $governor-bay;
            border-radius: 50%;
            text-transform: uppercase;
            animation: rotating 40s linear infinite;
        }
    }

    .circle-text__icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .rotating-slow {
            animation: rotating 100s linear infinite;
        }
    }

    .char {
        --units: 1;
        --l: calc(var(--char-total) + 1);
        --rotationUnit: calc((1turn / var(--l)) * var(--char-index, 1));
        transform: rotate(var(--rotationUnit));
        transform-origin: center;
        width: calc(100% - 0.6rem);
        height: calc(100% - 0.6rem);
        top: 0.3rem;
        left: 0.3rem;
        text-align: center;
        display: block !important;
        position: absolute !important;
        
        &::before,
        &::after {
            display: none;
        }
    }

    @include respond(papa-bear) {
        top: 75px;
        right: 50px;
    }

    @include respond(medium-bear) {
        top: 10px;
        right: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
