.subs-wrapper {
    display: inline-block;
    margin-left: 30px;
    max-width: 78px;
    width: 100%;
    border: none;
    border-bottom: 1px solid $governor-bay;
    background-color: transparent;

    input[disabled] {
        cursor: pointer;
    }
    
    &__option {
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        border: none;
        background-color: transparent;
        color: $governor-bay;
        
        &::placeholder {
            color: $governor-bay;
        }

        @include respond(medium-bear) {
            font-size: 12px;
        }

        @include respond(mini-bear) {
			font-size: 11px;
		}
    }

    &__list {
        display: none;
        position: absolute;
        top: 38px;
        right: 0;
        margin: 0;
        width: 140px;
        height: auto;
        background-color: $selago;
        border-radius: 6px;
        z-index: 999;

        li {
            padding: 10px 32px;
            font-size: 16px;
            cursor: pointer;
            list-style: none;
            color: $governor-bay;
            transition: opacity .3s;

            &:hover {
                opacity: .8;
            }

            @include respond(medium-bear) {
                font-size: 14px;
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        right: 30px;
        top: 16px;
        pointer-events: none;
        border: solid $governor-bay;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(45deg);

        @include respond(medium-bear) {
            right: 70px;
        }

        @include respond(mini-bear) {
            right: 8px
        }
    }

    @include respond(mini-bear) {
        margin-left: 60px;
    }

    @include respond(micro-bear) {
        margin-left: 12px;
    }
}