.main-container__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 72px 0 80px;
    height: 76px;
    background-color: $white;

    .product,
    .subscribe {
        display: flex;
        width: 100%;
    }

    .product {
        align-items: center;

        &__img {
            margin-right: 16px;
            width: 56px;
            height: 56px;
        }

        &__info {

            h3,
            span {
                color: $jacarta;
            }

            h3 {
                margin: 0;
                font-size: 20px;
                line-height: 28px;
                text-transform: capitalize;

                @include respond(baby-bear) {
                    font-size: 18px;
                }

                @include respond(micro-bear) {
                    font-size: 16px;
                }
            }

            span {
                font-size: 12px;
                line-height: 18px;
                font-weight: bold;
                text-decoration-line: underline;
            }
        }

        @include respond(baby-bear) {
            justify-content: center;
        }
    }

    .subscribe {
        justify-content: flex-end;

        &__info {
            margin-right: 25px;
            text-align: right;

            span {
                display: block;
                padding-right: 5px;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;

                &:last-of-type {
                    padding-right: 0;
                    font-size: 12px;
                }
            }

            @include respond(baby-bear) {
                margin-right: 10px;
            }

            @include respond(micro-bear) {
                margin: 0 0 10px;
                text-align: center;
            }
        }

        .section-btn {

            @include respond(micro-bear) {
                margin: 0 auto;
            }
        }

        @include respond(baby-bear) {
            justify-content: center;
            margin-top: 25px;
        }

        @include respond(micro-bear) {
            flex-direction: column;
        }
    }

    @include respond(medium-bear) {
        padding: 0 30px;
    }

    @include respond(baby-bear) {
        flex-direction: column;
        padding: 20px;
        height: 100%;
    }
}