*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    padding: 50px 20px;
    font-family: $primary;
    box-sizing: border-box;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 100%;
    max-width: 1432px;
    max-height: 764px;
}