*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    padding: 50px 20px;
    font-family: $primary;
    box-sizing: border-box;
    background-color: $mercury !important;

    @include respond(micro-bear) {
        padding: 20px 10px;
    }
}

.main-container {
    margin: 0 auto;
    width: 100%;
    max-width: 1432px;
    max-height: 764px;
    
    &__content {
        display: flex;

        @include respond(medium-bear) {
            flex-direction: column-reverse;
        }
    }

    @include respond(medium-bear) {
        max-width: 850px;
        max-height: 100%;
    }
}