
.heading {
    color: $jacarta;
    margin: 0 0 5px;
}

.heading,
.paragraph {
    color: $jacarta;
}

span {
    color: $governor-bay;
}

.heading,
.paragraph,
h3,
span,
label,
input,
li,
a {
    font-family: $primary;
}