// COLORS
$white: #fff;
$black: #000;
$mercury: #E5E5E5;

$selago: #EDF0FC;
$governor-bay: #3343BB;
$jacarta: #2C346D;
$wheat: #f0d6ad;
$serenade: #FFF3E9;
$citrine-white: #f3e9e0;

// Font
$primary: 'DM Sans', sans-serif;